  <header>
        <nav>
            <a href="/"><button> <img src="./Img/home.png" alt=""> Inicio</button></a>
            <a href="./SobreMi"><button><img src="./Img/user.png" alt="">Sobre Mi</button></a>
            <a href="./Portafolio"><button><img src="./Img/proyect.png" alt="">Portafolio</button></a>
        </nav>
  </header>