<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    
    <link rel="stylesheet" href="./assets/css/normalize.css">
    <link rel="stylesheet" href="./assets/css/estilosbarras.css">
    <link rel="stylesheet" href="./assets/css/estiloscuerpo.css">
</head>

<body>
    {{> header}}
    <main>

        <section class="presentacion">
            <div>
                <h1 class="saludo">Bienvenidos</h1>
                <h2 class="nombre">Bernardo Vicente Hildebrando Culum Ratzam</h2>
                <h2 class="carrera">INGENIERÍA EN SISTEMAS DE INFORMACIÓN </h2>
                <h2 class="carrera">CIENCIAS DE LA COMPUTACIÓN</h2>
                <img class="foto" src="./Img/Fotografia.jpeg" alt=""> 
            </div>
        </section>
    </main>

    {{> footer}}

</body>

</html>