<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portafolio</title>
    <link rel="stylesheet" href="./assets/css/normalize.css">
    <link rel="stylesheet" href="./assets/css/estilosbarras.css">
    <link rel="stylesheet" href="./assets/css/EstilosProyectos.css">
</head>

<body>

    {{> header}}
    
    <section class="particion">
        <h1 class="principal">MIS PROYECTOS</h1>
        <section class="DivisionProyectos">

            <div class="centrar" >
                <h3>TEOREMAS </h3>
                <a href="./Proyecto1">
                    <img class="Tamanio" src="./Img/Proyecto1.jpg" alt="">
                </a>
                
                <a href="./Proyecto1"><button class="boton" >Ver</button></a>
            </div>
            <div class="centrar" >
                <h3>ESTRUCTURA DE DATOS</h3>
                <a href="./Proyecto2">
                    <img class="Tamanio" src="./Img/Proyecto2.jpg" alt="">
                </a>
                
                <a href="./Proyecto2"><button class="boton" >Ver</button></a>
            </div>
            <div class="centrar" >
                <h3>GESTION DE PROCESOS PC</h3>
                <a href="./Proyecto3">
                    <img class="Tamanio" src="./Img/Proyecto3.jpg" alt="">
                </a>
                

                <a href="./Proyecto3"><button class="boton" >Ver</button></a>
            </div>
            <div class="centrar" >
                <h3>BASE DE DATOS</h3>

                <a href="./Proyecto4">
                    <img class="Tamanio" src="./Img/Proyecto4.png" alt="">
                </a>
                
                <a href="./Proyecto4"><button class="boton">Ver</button>
                
                </a>
            </div>
            <div class="centrar" >
                <h3>MRU y MRUV </h3>

                <a href="./Proyecto5">
                    <img class="Tamanio" src="./Img/Proyecto5.jpg" alt="">
                </a>
                
                <a href="./Proyecto5"><button class="boton">Ver</button>
                
                </a>
            </div>
            <div class="centrar" >
                <h3>APLICACION YARGS</h3>

                <a href="./Proyecto6">
                    <img class="Tamanio" src="./Img/Proyecto6.png" alt="">
                </a>
                
                <a href="./Proyecto6"><button class="boton">Ver</button>
                
                </a>
            </div>

        </section>
    
    </section>
    {{> footer}}

</body>

</html>