<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proyecto 6</title>
    <link rel="stylesheet" href="./assets/css/normalize.css">
    <link rel="stylesheet" href="./assets/css/estilosbarras.css">
    <link rel="stylesheet" href="./assets/css/Proyectos.css">
    <script src="./assets/javascript/script.js"> </script>
</head>

<body>

    {{> header}}

    <section class="division1">
        <div class="division2">
            <div>
                <h1 class="neon">APLICACION YARGS</h1>
                <div>
                     <iframe width="560" height="315" src="https://www.youtube.com/embed/x-KNdR1t59E?si=8BrtbST7ImQtjrz5"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        allowfullscreen></iframe>
                </div>
            </div>

            <div>
                <h2 class="detalles" onclick="MostrarContenido('info1')">Detalles del Proyecto</h2>
                <ul id="info1" class="info1">
                    <li>
                        <h4>Lenguaje de Programacion</h4>
                        Javascript
                    </li>

                    <li> Node JS</li>
                    <li> Yargs</li>

                </ul>
            </div>
        </div>

        <div>
            <h2 class="moverh2" onclick="MostrarContenido('info2')">Descripcion del Proyecto</h2>
            <p id="info2" class="info2">
                Este proyecto se centra en la creación de una aplicación de línea de comandos (CLI) en Node.js para
                generar tablas de multiplicar. El proyecto abordará varios objetivos, incluyendo la corrección de
                problemas de formato en los archivos de texto, la adición de opciones --hasta y -h para controlar el
                rango de tablas a generar y la organización de tablas en archivos de texto en una carpeta llamada
                "salida". El proyecto se registrará en GitHub y se documentará adecuadamente.
            </p>

            <ul>
                <li>
                    <h2 onclick="MostrarContenido('info3')">Herramientas y Tecnologías Utilizadas</h2>
                    <p id="info3" class="info3">
                        Node.js: Plataforma para la ejecución de JavaScript en el servidor.
                        Git y GitHub: Control de versiones y plataforma de alojamiento en la nube.
                        Visual Studio Code: Entorno de desarrollo.
                        Archivo .gitignore: Para excluir archivos y carpetas del seguimiento de Git.
                    </p>
                </li>

                <li>
                    <h2 onclick="MostrarContenido('info4')">Objetivos de la Aplicación</h2>
                    <p id="info4" class="info4">
                        Este proyecto tiene como objetivo principal el desarrollo de una aplicación de línea de comandos
                        en Node.js para la generación de tablas de multiplicar. Uno de los objetivos clave es solucionar
                        problemas de formato en los archivos de texto generados por la aplicación, asegurando que las
                        tablas se presenten de manera legible y coherente.
                    </p>
                </li>

                <li>
                    <h2 onclick="MostrarContenido('info5')">Almacenamiento Organizado</h2>
                    <p id="info5" class="info5">
                        Otro objetivo importante es organizar el almacenamiento de las tablas generadas. Para lograrlo,
                        se generará una carpeta llamada "salida" en la cual se depositarán todas las tablas de
                        multiplicar. Esta estructura de almacenamiento facilitará la localización y el acceso a las
                        tablas creadas y contribuirá a mantener una organización eficiente de los datos generados por la
                        aplicación.
                    </p>
                </li>
                <li>
                    <h2 onclick="MostrarContenido('info6')">Documentación y Control de Versiones</h2>
                    <p id="info6" class="info6">
                        Este archivo contendrá información detallada sobre las opciones disponibles en la aplicación,
                        ejemplos de uso y otros detalles importantes. Además, se registrará el proyecto en GitHub,
                        permitiendo un control de versiones efectivo y el acceso público al código fuente.
                    </p>
                </li>

                <h2 class="titulo4">Imagenes del Proyecto</h2>
            </ul>
        </div>
    </section>
    <section class="imagencar">
        <div class="carrusel">
            <div class="carrusel-items">

                <div class="carrusel-item">
                    <img src="./Img/ImgPro6/Imagen1.png" alt="" />
                </div>
                <div class="carrusel-item">
                    <img src="./Img/ImgPro6/Imagen2.png" alt="" />
                </div>
                <div class="carrusel-item">
                    <img src="./Img/ImgPro6/Imagen3.png" alt="" />
                </div>
                <div class="carrusel-item">
                    <img src="./Img/ImgPro6/Imagen4.png" alt="" />
                </div>
                <div class="carrusel-item">
                    <img src="./Img/ImgPro6/Imagen5.png" alt="" />
                </div>
                <div class="carrusel-item">
                    <img src="./Img/ImgPro6/Imagen6.png" alt="" />
                </div>
                <div class="carrusel-item">
                    <img src="./Img/ImgPro6/Imagen7.png" alt="" />
                </div>
                <div class="carrusel-item">
                    <img src="./Img/ImgPro6/Imagen8.png" alt="" />
                </div>
                <div class="carrusel-item">
                    <img src="./Img/ImgPro6/Imagen9.png" alt="" />
                </div>
                <div class="carrusel-item">
                    <img src="./Img/ImgPro6/Imagen10.png" alt="" />
                </div>
                <div class="carrusel-item">
                    <img src="./Img/ImgPro6/Imagen11.png" alt="" />
                </div>
                <div class="carrusel-item">
                    <img src="./Img/ImgPro6/Imagen12.png" alt="" />
                </div>

            </div>
        </div>


        <script src="./assets/javascript/moverImg.js"></script>
    </section>

    {{> footer}}

</body>

</html>