<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Proyecto 1</title>
  <link rel="stylesheet" href="./assets/css/normalize.css">
  <link rel="stylesheet" href="./assets/css/estilosbarras.css">
  <link rel="stylesheet" href="./assets/css/Proyectos.css">
  <script src="./assets/javascript/script.js"> </script>


</head>

<body>
  
  
    {{> header}}

  
  <section class="division1">
    <div class="division2">
      <div>
        <h1 class="neon">TEOREMAS DE PROBABILIDADES</h1>
        <div>
          <iframe width="560" height="315" src="https://www.youtube.com/embed/KX8ZQqzNTV8?si=gpJ8DmqErGT2aH3s"
            title="YouTube video player" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen></iframe>
        </div>
      </div>

      <div>
        <h2 class="detalles" onclick="MostrarContenido('info1')">Detalles del Proyecto</h2>
        <ul id="info1" class="info1">
          <li>
            <h4>Lenguaje de Programacion</h4>Java
          </li>
          <li>
            <h4>Teoremas de Probabilidades</h4>12 Teoremas Estadisticos
          </li>

        </ul>
      </div>
    </div>

    <div>
      <h2 class="moverh2" onclick="MostrarContenido('info2')">Descripcion del Proyecto</h2>
      <p id="info2" class="info2">
        En el proyecto "Calculadora de Teoremas Estadísticos en Java", desarrollé una herramienta
        educativa que tiene como objetivo facilitar el aprendizaje y la comprensión de los conceptos
        estadísticos a través de la interacción práctica y la visualización de resultados. Mi enfoque se centró
        en proporcionar una forma intuitiva y atractiva de explorar y aplicar los teoremas
        estadísticos fundamentales. A continuación, detallo las características clave y las habilidades que
        demostré durante la realización de este proyecto
      </p>

      <ul>
        <li>
          <h2 onclick="MostrarContenido('info3')">Implementacion y Practica</h2>
          <p id="info3" class="info3">
            Diseñé una interfaz de usuario amigable en Java que permite a los usuarios ingresar datos
            relevantes para aplicar los teoremas estadísticos.
            Utilicé conceptos de programación orientada a objetos para crear clases y métodos que
            representan los teoremas y cálculos estadísticos.</p>
        </li>

        <li>
          <h2 onclick="MostrarContenido('info4')">Interacción en Tiempo Real</h2>
          <p id="info4" class="info4">
            Establecí la lógica para realizar cálculos en tiempo real en función de los datos ingresados por
            el usuario.
            Implementé un sistema de retroalimentación instantánea que informa a los usuarios sobre la
            validez de los datos y los guía en caso de errores.
          </p>
        </li>

        <li id="info5" class="info5">
          <h2 onclick="MostrarContenido('info5')">Estructura y Claridad del Código</h2>
          <p>
            Organizado el código utilizando buenas prácticas de programación para garantizar la legibilidad
            y la facilidad de mantenimiento.
            Comenté el código de manera adecuada, explicando los pasos clave y los conceptos involucrados en
            los cálculos estadísticos.
          </p>
        </li>
        <li id="info6" class="info6">
          <h2 onclick="MostrarContenido('info6')">Aprendizaje y Enseñanza</h2>
          <p>
            Diseñé el proyecto con un enfoque educativo en mente, utilizando ejemplos concretos y cálculos
            reales para facilitar la comprensión de los conceptos estadísticos.
            Creé una documentación clara que explica cómo utilizar la calculadora y cómo interpretar los
            resultados obtenidos.
          </p>
        </li>

        <h2 class="titulo4">Imagenes del Proyecto</h2>
      </ul>
    </div>
  </section>
  <section class="imagencar">
    <div class="carrusel">
      <div class="carrusel-items">

        <div class="carrusel-item">
          <img src="./Img/ImgPro1/Imagen1.png" alt="" />
        </div>
        <div class="carrusel-item">
          <img src="./Img/ImgPro1/Imagen2.png" alt="" />
        </div>
        <div class="carrusel-item">
          <img src="./Img/ImgPro1/Imagen3.png" alt="" />
        </div>
        <div class="carrusel-item">
          <img src="./Img/ImgPro1/Imagen4.png" alt="" />
        </div>
        <div class="carrusel-item">
          <img src="./Img/ImgPro1/Imagen5.png" alt="" />
        </div>
        <div class="carrusel-item">
          <img src="./Img/ImgPro1/Imagen6.png" alt="" />
        </div>
        <div class="carrusel-item">
          <img src="./Img/ImgPro1/Imagen7.png" alt="" />
        </div>
        <div class="carrusel-item">
          <img src="./Img/ImgPro1/Imagen8.png" alt="" />
        </div>
        <div class="carrusel-item">
          <img src="./Img/ImgPro1/Imagen9.png" alt="" />
        </div>
        <div class="carrusel-item">
          <img src="./Img/ImgPro1/Imagen10.png" alt="" />
        </div>
       
      </div>
    </div>

    <script src="./assets/javascript/moverImg.js"></script>
  </section>

  {{> footer}}

</body>

</html>

